<head>
  <link rel="stylesheet" href="https://npm-scalableminds.s3.eu-central-1.amazonaws.com/@scalableminds/chatroom@master/dist/Chatroom.css" />
 <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}" />
</head>
<body>
  <div class="chat-container"></div>

  <script src="https://npm-scalableminds.s3.eu-central-1.amazonaws.com/@scalableminds/chatroom@master/dist/Chatroom.js"/></script>
  <script type="text/javascript">
    var chatroom = new window.Chatroom({
      host: "http://localhost:5005",
      title: "Chat with Piford Bot",
      container: document.querySelector(".chat-container"),
      welcomeMessage: "Hi, I am a Chat bot. Welcome to Piford Technologies. ",
      speechRecognition: "en-US",
    });
    chatroom.openChat();
  </script>
</body>


